In [1]:
# module import
import pandas as pd
import os
import matplotlib.pyplot as plt

# path
root_path = '/content/drive/My Drive/DACON/DACON-JEJU'
data_path = os.path.join(root_path, 'data')

In [2]:
# load data
data = pd.read_csv(os.path.join(data_path, '201901-202003.csv'))

# _1_. 기본 사항

* 데이터 스키마
    - REG_YYMM: 년월
    - CARD_SIDO_NM: 카드이용지역-시도(가맹점 주소 기준)
    - CARD_CCG_NM: 카드이용지역-시군구(가맹점 주소 기준)
    - STD_CLSS_NM: 업종명
    - HOM_SIDO_NM: 거주지역-시도(고객 집주소 기준)
    - HOM_CCG_NM: 거주지역-시군구
    - AGE: 연령대
    - SEX_CTGO_CD: 성별
    - FLC: 가구생애주기 (1: 1인가구, 2: 영유아자녀가구, 3: 중고생자녀가구, 4: 성인자녀가구, 5: 노년가구) 
    - CSTMR_CNT: 이용고객수 (명)
    - AMT: 이용금액 (원)
    - CNT: 이용건수 (건)

* 결측치

In [3]:
data.head(10)

   REG_YYMM CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM  ... FLC CSTMR_CNT      AMT  CNT
0    201901           강원         강릉시  건강보조식품 소매업  ...   1         4   311200    4
1    201901           강원         강릉시  건강보조식품 소매업  ...   2         7  1374500    8
2    201901           강원         강릉시  건강보조식품 소매업  ...   2         6   818700    6
3    201901           강원         강릉시  건강보조식품 소매업  ...   3         4  1717000    5
4    201901           강원         강릉시  건강보조식품 소매업  ...   4         3  1047300    3
5    201901           강원         강릉시  건강보조식품 소매업  ...   3         7   627500    7
6    201901           강원         강릉시  건강보조식품 소매업  ...   4        21  3690830   21
7    201901           강원         강릉시  건강보조식품 소매업  ...   4        21  3573300   20
8    201901           강원         강릉시  건강보조식품 소매업  ...   5        19  1433500   20
9    201901           강원         강릉시  건강보조식품 소매업  ...   5        33  7194600   40

[10 rows x 12 columns]

In [4]:
data.tail(10)

          REG_YYMM CARD_SIDO_NM CARD_CCG_NM  ... CSTMR_CNT      AMT  CNT
24697782    202003           충북         충주시  ...        45  5078720   52
24697783    202003           충북         충주시  ...       102  9341125  106
24697784    202003           충북         충주시  ...         8   322630    8
24697785    202003           충북         충주시  ...        40  3172500   40
24697786    202003           충북         충주시  ...         3    56000    3
24697787    202003           충북         충주시  ...         3    43300    4
24697788    202003           충북         충주시  ...         3    35000    3
24697789    202003           충북         충주시  ...         4   188000    6
24697790    202003           충북         충주시  ...         4    99000    6
24697791    202003           충북         충주시  ...         3   194000    3

[10 rows x 12 columns]

In [5]:
# 데이터 구조 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24697792 entries, 0 to 24697791
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   REG_YYMM      int64
 1   CARD_SIDO_NM  object
 2   CARD_CCG_NM   object
 3   STD_CLSS_NM   object
 4   HOM_SIDO_NM   object
 5   HOM_CCG_NM    object
 6   AGE           object
 7   SEX_CTGO_CD   int64
 8   FLC           int64
 9   CSTMR_CNT     int64
 10  AMT           int64
 11  CNT           int64
dtypes: int64(6), object(6)
memory usage: 2.2+ GB

In [15]:
# 컬럼 타입 변경
data['REG_YYMM_NEW'] = data['REG_YYMM'].astype('str')
# data['AGE_NEW'] = data['AGE'].str.replace('s', '').astype('int') # 필요 없을 듯?

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24697792 entries, 0 to 24697791
Data columns (total 14 columns):
 #   Column        Dtype
---  ------        -----
 0   REG_YYMM      int64
 1   CARD_SIDO_NM  object
 2   CARD_CCG_NM   object
 3   STD_CLSS_NM   object
 4   HOM_SIDO_NM   object
 5   HOM_CCG_NM    object
 6   AGE           object
 7   SEX_CTGO_CD   int64
 8   FLC           int64
 9   CSTMR_CNT     int64
 10  AMT           int64
 11  CNT           int64
 12  REG_YYMM_NEW  object
 13  AGE_NEW       int64
dtypes: int64(7), object(7)
memory usage: 2.6+ GB

In [17]:
# 결측치
data.isnull().sum()

REG_YYMM             0
CARD_SIDO_NM         0
CARD_CCG_NM      87213
STD_CLSS_NM          0
HOM_SIDO_NM          0
HOM_CCG_NM      147787
AGE                  0
SEX_CTGO_CD          0
FLC                  0
CSTMR_CNT            0
AMT                  0
CNT                  0
REG_YYMM_NEW         0
AGE_NEW              0
dtype: int64

 고객 측에서 결측치는 의미 없을 것 같고, 어느 시도, 어느 업종에서 결측치가 있는지 봐야 할 것 같다.

In [7]:
def display_null_df(df, null_col, check_col, *group_standards):
    null_df  = df[df[null_col].isnull()].groupby(list(group_standards), as_index=False).count()
    for col in null_df[check_col].unique():
        null_df[null_df[check_col] == col]
        display(null_df[null_df[check_col] == col])
        print('')
    return f"그룹핑 컬럼: {group_standards}, 확인 컬럼: {check_col}"

In [8]:
# 카드 시군구 명 결측치 확인
display_null_df(data, 'CARD_CCG_NM', 'REG_YYMM', 'REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM')

    REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT  AMT  CNT
0     201901           세종             건강보조식품 소매업  ...         10   10   10
1     201901           세종                골프장 운영업  ...         44   44   44
2     201901           세종            과실 및 채소 소매업  ...        127  127  127
3     201901           세종      관광 민예품 및 선물용품 소매업  ...          1    1    1
4     201901           세종           그외 기타 종합 소매업  ...         37   37   37
5     201901           세종           기타 대형 종합 소매업  ...        415  415  415
6     201901           세종           기타 수상오락 서비스업  ...          1    1    1
7     201901           세종            기타 외국식 음식점업  ...         81   81   81
8     201901           세종                 기타 주점업  ...          5    5    5
9     201901           세종          기타음식료품위주종합소매업  ...        137  137  137
10    201901           세종                   마사지업  ...          5    5    5
11    201901           세종               비알콜 음료점업  ...        276  276  276
12    201901           세종            빵 및 과자류 소매업  ...        250  250  250
13    201901           세종               서양식 음식점업  ...        264  264  264
14    201901           세종                수산물 소매업  ...         33   33   33
15    201901           세종                   슈퍼마켓  ...        357  357  357
16    201901           세종     스포츠 및 레크레이션 용품 임대업  ...         36   36   36
17    201901           세종                    여관업  ...         23   23   23
18    201901           세종                    욕탕업  ...         60   60   60
19    201901           세종                 육류 소매업  ...        101  101  101
20    201901           세종               일반유흥 주점업  ...          6    6    6
21    201901           세종                일식 음식점업  ...         66   66   66
22    201901           세종            전시 및 행사 대행업  ...         50   50   50
23    201901           세종                중식 음식점업  ...        133  133  133
24    201901           세종             차량용 가스 충전업  ...         67   67   67
25    201901           세종            차량용 주유소 운영업  ...        364  364  364
26    201901           세종                체인화 편의점  ...        787  787  787
27    201901           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        252  252  252
28    201901           세종                한식 음식점업  ...        794  794  794
29    201901           세종          화장품 및 방향제 소매업  ...         39   39   39

[30 rows x 12 columns]

    REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT  AMT  CNT
30    201902           세종             건강보조식품 소매업  ...          9    9    9
31    201902           세종                골프장 운영업  ...         52   52   52
32    201902           세종            과실 및 채소 소매업  ...        120  120  120
33    201902           세종      관광 민예품 및 선물용품 소매업  ...          1    1    1
34    201902           세종           그외 기타 종합 소매업  ...         50   50   50
35    201902           세종           기타 대형 종합 소매업  ...        399  399  399
36    201902           세종            기타 외국식 음식점업  ...         70   70   70
37    201902           세종                 기타 주점업  ...          3    3    3
38    201902           세종          기타음식료품위주종합소매업  ...        146  146  146
39    201902           세종                   마사지업  ...          3    3    3
40    201902           세종               비알콜 음료점업  ...        259  259  259
41    201902           세종            빵 및 과자류 소매업  ...        340  340  340
42    201902           세종               서양식 음식점업  ...        240  240  240
43    201902           세종                수산물 소매업  ...         33   33   33
44    201902           세종                   슈퍼마켓  ...        341  341  341
45    201902           세종     스포츠 및 레크레이션 용품 임대업  ...         44   44   44
46    201902           세종                    여관업  ...         11   11   11
47    201902           세종                    욕탕업  ...         63   63   63
48    201902           세종                 육류 소매업  ...         95   95   95
49    201902           세종               일반유흥 주점업  ...          6    6    6
50    201902           세종                일식 음식점업  ...         65   65   65
51    201902           세종            전시 및 행사 대행업  ...         36   36   36
52    201902           세종                중식 음식점업  ...        123  123  123
53    201902           세종             차량용 가스 충전업  ...         74   74   74
54    201902           세종            차량용 주유소 운영업  ...        405  405  405
55    201902           세종                체인화 편의점  ...        811  811  811
56    201902           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        241  241  241
57    201902           세종                한식 음식점업  ...        755  755  755
58    201902           세종          화장품 및 방향제 소매업  ...         40   40   40

[29 rows x 12 columns]

    REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT   AMT   CNT
59    201903           세종             건강보조식품 소매업  ...          9     9     9
60    201903           세종                골프장 운영업  ...        105   105   105
61    201903           세종            과실 및 채소 소매업  ...        134   134   134
62    201903           세종      관광 민예품 및 선물용품 소매업  ...          1     1     1
63    201903           세종           그외 기타 종합 소매업  ...         50    50    50
64    201903           세종           기타 대형 종합 소매업  ...        447   447   447
65    201903           세종            기타 외국식 음식점업  ...         98    98    98
66    201903           세종                 기타 주점업  ...          2     2     2
67    201903           세종          기타음식료품위주종합소매업  ...        142   142   142
68    201903           세종                   마사지업  ...          4     4     4
69    201903           세종               비알콜 음료점업  ...        412   412   412
70    201903           세종            빵 및 과자류 소매업  ...        335   335   335
71    201903           세종               서양식 음식점업  ...        462   462   462
72    201903           세종                수산물 소매업  ...         29    29    29
73    201903           세종                   슈퍼마켓  ...        512   512   512
74    201903           세종     스포츠 및 레크레이션 용품 임대업  ...         45    45    45
75    201903           세종                    여관업  ...         14    14    14
76    201903           세종                    욕탕업  ...         54    54    54
77    201903           세종                 육류 소매업  ...         94    94    94
78    201903           세종               일반유흥 주점업  ...          6     6     6
79    201903           세종                일식 음식점업  ...         98    98    98
80    201903           세종            전시 및 행사 대행업  ...         53    53    53
81    201903           세종                중식 음식점업  ...        250   250   250
82    201903           세종             차량용 가스 충전업  ...         73    73    73
83    201903           세종            차량용 주유소 운영업  ...        469   469   469
84    201903           세종                체인화 편의점  ...       1019  1019  1019
85    201903           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        415   415   415
86    201903           세종                한식 음식점업  ...        980   980   980
87    201903           세종          화장품 및 방향제 소매업  ...         56    56    56

[29 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT   AMT   CNT
88     201904           세종             건강보조식품 소매업  ...         11    11    11
89     201904           세종                골프장 운영업  ...        106   106   106
90     201904           세종            과실 및 채소 소매업  ...        141   141   141
91     201904           세종      관광 민예품 및 선물용품 소매업  ...          4     4     4
92     201904           세종           그외 기타 종합 소매업  ...         54    54    54
93     201904           세종           기타 대형 종합 소매업  ...        395   395   395
94     201904           세종            기타 외국식 음식점업  ...         95    95    95
95     201904           세종                 기타 주점업  ...          3     3     3
96     201904           세종          기타음식료품위주종합소매업  ...        144   144   144
97     201904           세종                   마사지업  ...          3     3     3
98     201904           세종               비알콜 음료점업  ...        450   450   450
99     201904           세종            빵 및 과자류 소매업  ...        327   327   327
100    201904           세종               서양식 음식점업  ...        523   523   523
101    201904           세종                수산물 소매업  ...         30    30    30
102    201904           세종                   슈퍼마켓  ...        506   506   506
103    201904           세종     스포츠 및 레크레이션 용품 임대업  ...         56    56    56
104    201904           세종                    여관업  ...         13    13    13
105    201904           세종                    욕탕업  ...         51    51    51
106    201904           세종                 육류 소매업  ...        112   112   112
107    201904           세종               일반유흥 주점업  ...          6     6     6
108    201904           세종                일식 음식점업  ...         91    91    91
109    201904           세종            전시 및 행사 대행업  ...         26    26    26
110    201904           세종                중식 음식점업  ...        209   209   209
111    201904           세종             차량용 가스 충전업  ...         73    73    73
112    201904           세종            차량용 주유소 운영업  ...        471   471   471
113    201904           세종                체인화 편의점  ...       1022  1022  1022
114    201904           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        409   409   409
115    201904           세종                한식 음식점업  ...        982   982   982
116    201904           세종          화장품 및 방향제 소매업  ...         46    46    46

[29 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT   AMT   CNT
117    201905           세종             건강보조식품 소매업  ...         10    10    10
118    201905           세종                골프장 운영업  ...        110   110   110
119    201905           세종            과실 및 채소 소매업  ...        151   151   151
120    201905           세종      관광 민예품 및 선물용품 소매업  ...         11    11    11
121    201905           세종   그외 기타 분류안된 오락관련 서비스업  ...          2     2     2
122    201905           세종           그외 기타 종합 소매업  ...         52    52    52
123    201905           세종           기타 대형 종합 소매업  ...        419   419   419
124    201905           세종            기타 외국식 음식점업  ...         96    96    96
125    201905           세종                 기타 주점업  ...          5     5     5
126    201905           세종          기타음식료품위주종합소매업  ...        180   180   180
127    201905           세종                   마사지업  ...          7     7     7
128    201905           세종               비알콜 음료점업  ...        499   499   499
129    201905           세종            빵 및 과자류 소매업  ...        375   375   375
130    201905           세종               서양식 음식점업  ...        582   582   582
131    201905           세종                수산물 소매업  ...         33    33    33
132    201905           세종                   슈퍼마켓  ...        527   527   527
133    201905           세종     스포츠 및 레크레이션 용품 임대업  ...         67    67    67
134    201905           세종                    여관업  ...         12    12    12
135    201905           세종                    욕탕업  ...         47    47    47
136    201905           세종                 육류 소매업  ...        114   114   114
137    201905           세종               일반유흥 주점업  ...          5     5     5
138    201905           세종                일식 음식점업  ...         93    93    93
139    201905           세종            전시 및 행사 대행업  ...         36    36    36
140    201905           세종                중식 음식점업  ...        233   233   233
141    201905           세종             차량용 가스 충전업  ...         74    74    74
142    201905           세종            차량용 주유소 운영업  ...        454   454   454
143    201905           세종                체인화 편의점  ...       1114  1114  1114
144    201905           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        404   404   404
145    201905           세종                한식 음식점업  ...        986   986   986
146    201905           세종          화장품 및 방향제 소매업  ...         47    47    47

[30 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT   AMT   CNT
147    201906           세종             건강보조식품 소매업  ...         10    10    10
148    201906           세종                골프장 운영업  ...        110   110   110
149    201906           세종            과실 및 채소 소매업  ...        149   149   149
150    201906           세종      관광 민예품 및 선물용품 소매업  ...         12    12    12
151    201906           세종           그외 기타 종합 소매업  ...         42    42    42
152    201906           세종           기타 대형 종합 소매업  ...        394   394   394
153    201906           세종            기타 외국식 음식점업  ...         88    88    88
154    201906           세종                 기타 주점업  ...          4     4     4
155    201906           세종          기타음식료품위주종합소매업  ...        167   167   167
156    201906           세종                   마사지업  ...          6     6     6
157    201906           세종               비알콜 음료점업  ...        455   455   455
158    201906           세종            빵 및 과자류 소매업  ...        341   341   341
159    201906           세종               서양식 음식점업  ...        495   495   495
160    201906           세종                수산물 소매업  ...         25    25    25
161    201906           세종                   슈퍼마켓  ...        507   507   507
162    201906           세종     스포츠 및 레크레이션 용품 임대업  ...         62    62    62
163    201906           세종                    여관업  ...         18    18    18
164    201906           세종                    욕탕업  ...         44    44    44
165    201906           세종                 육류 소매업  ...        108   108   108
166    201906           세종               일반유흥 주점업  ...          6     6     6
167    201906           세종                일식 음식점업  ...         85    85    85
168    201906           세종            전시 및 행사 대행업  ...         31    31    31
169    201906           세종                중식 음식점업  ...        242   242   242
170    201906           세종             차량용 가스 충전업  ...         73    73    73
171    201906           세종            차량용 주유소 운영업  ...        406   406   406
172    201906           세종                체인화 편의점  ...       1060  1060  1060
173    201906           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        368   368   368
174    201906           세종                한식 음식점업  ...        953   953   953
175    201906           세종          화장품 및 방향제 소매업  ...         43    43    43

[29 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT   AMT   CNT
176    201907           세종             건강보조식품 소매업  ...         12    12    12
177    201907           세종                골프장 운영업  ...         98    98    98
178    201907           세종            과실 및 채소 소매업  ...        157   157   157
179    201907           세종      관광 민예품 및 선물용품 소매업  ...         12    12    12
180    201907           세종           그외 기타 종합 소매업  ...         28    28    28
181    201907           세종           기타 대형 종합 소매업  ...        417   417   417
182    201907           세종            기타 외국식 음식점업  ...         92    92    92
183    201907           세종                 기타 주점업  ...          5     5     5
184    201907           세종          기타음식료품위주종합소매업  ...        152   152   152
185    201907           세종                   마사지업  ...          4     4     4
186    201907           세종               비알콜 음료점업  ...        397   397   397
187    201907           세종            빵 및 과자류 소매업  ...        285   285   285
188    201907           세종               서양식 음식점업  ...        379   379   379
189    201907           세종                수산물 소매업  ...         21    21    21
190    201907           세종                   슈퍼마켓  ...        438   438   438
191    201907           세종     스포츠 및 레크레이션 용품 임대업  ...         56    56    56
192    201907           세종                    여관업  ...         14    14    14
193    201907           세종                    욕탕업  ...         44    44    44
194    201907           세종                 육류 소매업  ...        110   110   110
195    201907           세종               일반유흥 주점업  ...          7     7     7
196    201907           세종                일식 음식점업  ...         74    74    74
197    201907           세종            전시 및 행사 대행업  ...         39    39    39
198    201907           세종                중식 음식점업  ...        151   151   151
199    201907           세종             차량용 가스 충전업  ...         69    69    69
200    201907           세종            차량용 주유소 운영업  ...        366   366   366
201    201907           세종                체인화 편의점  ...       1020  1020  1020
202    201907           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        269   269   269
203    201907           세종                한식 음식점업  ...        881   881   881
204    201907           세종          화장품 및 방향제 소매업  ...         44    44    44

[29 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT   AMT   CNT
205    201908           세종             건강보조식품 소매업  ...          9     9     9
206    201908           세종                골프장 운영업  ...         99    99    99
207    201908           세종            과실 및 채소 소매업  ...        188   188   188
208    201908           세종      관광 민예품 및 선물용품 소매업  ...         14    14    14
209    201908           세종           그외 기타 종합 소매업  ...         38    38    38
210    201908           세종           기타 대형 종합 소매업  ...        441   441   441
211    201908           세종            기타 외국식 음식점업  ...         90    90    90
212    201908           세종                 기타 주점업  ...          4     4     4
213    201908           세종          기타음식료품위주종합소매업  ...        174   174   174
214    201908           세종                   마사지업  ...          2     2     2
215    201908           세종               비알콜 음료점업  ...        393   393   393
216    201908           세종            빵 및 과자류 소매업  ...        344   344   344
217    201908           세종               서양식 음식점업  ...        426   426   426
218    201908           세종                수산물 소매업  ...         24    24    24
219    201908           세종                   슈퍼마켓  ...        424   424   424
220    201908           세종     스포츠 및 레크레이션 용품 임대업  ...         50    50    50
221    201908           세종                    여관업  ...         13    13    13
222    201908           세종                    욕탕업  ...         48    48    48
223    201908           세종                 육류 소매업  ...        114   114   114
224    201908           세종               일반유흥 주점업  ...          6     6     6
225    201908           세종                일식 음식점업  ...         81    81    81
226    201908           세종            전시 및 행사 대행업  ...         48    48    48
227    201908           세종                중식 음식점업  ...        163   163   163
228    201908           세종             차량용 가스 충전업  ...         83    83    83
229    201908           세종            차량용 주유소 운영업  ...        446   446   446
230    201908           세종                체인화 편의점  ...       1030  1030  1030
231    201908           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        266   266   266
232    201908           세종                한식 음식점업  ...        890   890   890
233    201908           세종          화장품 및 방향제 소매업  ...         40    40    40

[29 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT   AMT   CNT
234    201909           세종             건강보조식품 소매업  ...         11    11    11
235    201909           세종                골프장 운영업  ...         83    83    83
236    201909           세종            과실 및 채소 소매업  ...        157   157   157
237    201909           세종      관광 민예품 및 선물용품 소매업  ...          8     8     8
238    201909           세종           그외 기타 종합 소매업  ...         71    71    71
239    201909           세종           기타 대형 종합 소매업  ...        467   467   467
240    201909           세종            기타 외국식 음식점업  ...         97    97    97
241    201909           세종                 기타 주점업  ...          4     4     4
242    201909           세종          기타음식료품위주종합소매업  ...        166   166   166
243    201909           세종                   마사지업  ...          5     5     5
244    201909           세종               비알콜 음료점업  ...        448   448   448
245    201909           세종            빵 및 과자류 소매업  ...        436   436   436
246    201909           세종               서양식 음식점업  ...        534   534   534
247    201909           세종                수산물 소매업  ...         29    29    29
248    201909           세종                   슈퍼마켓  ...        550   550   550
249    201909           세종     스포츠 및 레크레이션 용품 임대업  ...         62    62    62
250    201909           세종                    여관업  ...         13    13    13
251    201909           세종                    욕탕업  ...         48    48    48
252    201909           세종                 육류 소매업  ...        132   132   132
253    201909           세종               일반유흥 주점업  ...          7     7     7
254    201909           세종                일식 음식점업  ...         72    72    72
255    201909           세종            전시 및 행사 대행업  ...         33    33    33
256    201909           세종                중식 음식점업  ...        268   268   268
257    201909           세종             차량용 가스 충전업  ...         82    82    82
258    201909           세종            차량용 주유소 운영업  ...        437   437   437
259    201909           세종                체인화 편의점  ...       1071  1071  1071
260    201909           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        356   356   356
261    201909           세종                한식 음식점업  ...        926   926   926
262    201909           세종          화장품 및 방향제 소매업  ...         41    41    41

[29 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT   AMT   CNT
263    201910           세종             건강보조식품 소매업  ...         10    10    10
264    201910           세종                골프장 운영업  ...        118   118   118
265    201910           세종            과실 및 채소 소매업  ...        141   141   141
266    201910           세종      관광 민예품 및 선물용품 소매업  ...          8     8     8
267    201910           세종           그외 기타 종합 소매업  ...         38    38    38
268    201910           세종           기타 대형 종합 소매업  ...        385   385   385
269    201910           세종            기타 외국식 음식점업  ...         97    97    97
270    201910           세종                 기타 주점업  ...          4     4     4
271    201910           세종          기타음식료품위주종합소매업  ...        159   159   159
272    201910           세종                   마사지업  ...          5     5     5
273    201910           세종               비알콜 음료점업  ...        468   468   468
274    201910           세종            빵 및 과자류 소매업  ...        354   354   354
275    201910           세종               서양식 음식점업  ...        602   602   602
276    201910           세종                수산물 소매업  ...         32    32    32
277    201910           세종                   슈퍼마켓  ...        494   494   494
278    201910           세종     스포츠 및 레크레이션 용품 임대업  ...         54    54    54
279    201910           세종                    여관업  ...         12    12    12
280    201910           세종                    욕탕업  ...         42    42    42
281    201910           세종                 육류 소매업  ...        101   101   101
282    201910           세종               일반유흥 주점업  ...          6     6     6
283    201910           세종                일식 음식점업  ...         94    94    94
284    201910           세종            전시 및 행사 대행업  ...         29    29    29
285    201910           세종                중식 음식점업  ...        271   271   271
286    201910           세종             차량용 가스 충전업  ...         83    83    83
287    201910           세종            차량용 주유소 운영업  ...        418   418   418
288    201910           세종                체인화 편의점  ...       1089  1089  1089
289    201910           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        361   361   361
290    201910           세종                한식 음식점업  ...        988   988   988
291    201910           세종          화장품 및 방향제 소매업  ...         48    48    48

[29 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT   AMT   CNT
292    201911           세종             건강보조식품 소매업  ...          8     8     8
293    201911           세종                골프장 운영업  ...        108   108   108
294    201911           세종            과실 및 채소 소매업  ...        147   147   147
295    201911           세종      관광 민예품 및 선물용품 소매업  ...          5     5     5
296    201911           세종           그외 기타 종합 소매업  ...         32    32    32
297    201911           세종           기타 대형 종합 소매업  ...        349   349   349
298    201911           세종            기타 외국식 음식점업  ...         99    99    99
299    201911           세종                 기타 주점업  ...          4     4     4
300    201911           세종          기타음식료품위주종합소매업  ...        165   165   165
301    201911           세종                   마사지업  ...          6     6     6
302    201911           세종               비알콜 음료점업  ...        459   459   459
303    201911           세종            빵 및 과자류 소매업  ...        387   387   387
304    201911           세종               서양식 음식점업  ...        490   490   490
305    201911           세종                수산물 소매업  ...         31    31    31
306    201911           세종                   슈퍼마켓  ...        477   477   477
307    201911           세종     스포츠 및 레크레이션 용품 임대업  ...         46    46    46
308    201911           세종                    여관업  ...         19    19    19
309    201911           세종                    욕탕업  ...         56    56    56
310    201911           세종                 육류 소매업  ...        111   111   111
311    201911           세종               일반유흥 주점업  ...          6     6     6
312    201911           세종                일식 음식점업  ...         87    87    87
313    201911           세종            전시 및 행사 대행업  ...         30    30    30
314    201911           세종                중식 음식점업  ...        270   270   270
315    201911           세종             차량용 가스 충전업  ...         70    70    70
316    201911           세종            차량용 주유소 운영업  ...        458   458   458
317    201911           세종                체인화 편의점  ...       1033  1033  1033
318    201911           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        350   350   350
319    201911           세종                한식 음식점업  ...        964   964   964
320    201911           세종          화장품 및 방향제 소매업  ...         51    51    51

[29 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT  AMT  CNT
321    201912           세종             건강보조식품 소매업  ...          7    7    7
322    201912           세종                골프장 운영업  ...         75   75   75
323    201912           세종            과실 및 채소 소매업  ...        119  119  119
324    201912           세종      관광 민예품 및 선물용품 소매업  ...          9    9    9
325    201912           세종           그외 기타 종합 소매업  ...         26   26   26
326    201912           세종           기타 대형 종합 소매업  ...        393  393  393
327    201912           세종            기타 외국식 음식점업  ...        105  105  105
328    201912           세종                 기타 주점업  ...          4    4    4
329    201912           세종          기타음식료품위주종합소매업  ...        137  137  137
330    201912           세종                   마사지업  ...          4    4    4
331    201912           세종               비알콜 음료점업  ...        437  437  437
332    201912           세종            빵 및 과자류 소매업  ...        324  324  324
333    201912           세종               서양식 음식점업  ...        483  483  483
334    201912           세종                수산물 소매업  ...         34   34   34
335    201912           세종                   슈퍼마켓  ...        473  473  473
336    201912           세종     스포츠 및 레크레이션 용품 임대업  ...         45   45   45
337    201912           세종                    여관업  ...         11   11   11
338    201912           세종                    욕탕업  ...         60   60   60
339    201912           세종                 육류 소매업  ...         95   95   95
340    201912           세종               일반유흥 주점업  ...          6    6    6
341    201912           세종                일식 음식점업  ...         99   99   99
342    201912           세종            전시 및 행사 대행업  ...         47   47   47
343    201912           세종                중식 음식점업  ...        261  261  261
344    201912           세종             차량용 가스 충전업  ...         71   71   71
345    201912           세종            차량용 주유소 운영업  ...        451  451  451
346    201912           세종                체인화 편의점  ...        992  992  992
347    201912           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        350  350  350
348    201912           세종                한식 음식점업  ...        939  939  939
349    201912           세종          화장품 및 방향제 소매업  ...         60   60   60

[29 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT  AMT  CNT
350    202001           세종             건강보조식품 소매업  ...         10   10   10
351    202001           세종                골프장 운영업  ...         49   49   49
352    202001           세종            과실 및 채소 소매업  ...        142  142  142
353    202001           세종      관광 민예품 및 선물용품 소매업  ...         11   11   11
354    202001           세종        그외 기타 스포츠시설 운영업  ...          1    1    1
355    202001           세종           그외 기타 종합 소매업  ...         44   44   44
356    202001           세종           기타 대형 종합 소매업  ...        414  414  414
357    202001           세종            기타 외국식 음식점업  ...         88   88   88
358    202001           세종                 기타 주점업  ...          5    5    5
359    202001           세종          기타음식료품위주종합소매업  ...        156  156  156
360    202001           세종                   마사지업  ...          6    6    6
361    202001           세종               비알콜 음료점업  ...        353  353  353
362    202001           세종            빵 및 과자류 소매업  ...        340  340  340
363    202001           세종               서양식 음식점업  ...        320  320  320
364    202001           세종                수산물 소매업  ...         32   32   32
365    202001           세종                   슈퍼마켓  ...        395  395  395
366    202001           세종     스포츠 및 레크레이션 용품 임대업  ...         36   36   36
367    202001           세종                    여관업  ...         13   13   13
368    202001           세종                    욕탕업  ...         71   71   71
369    202001           세종                 육류 소매업  ...        156  156  156
370    202001           세종               일반유흥 주점업  ...          6    6    6
371    202001           세종                일식 음식점업  ...         68   68   68
372    202001           세종            전시 및 행사 대행업  ...         41   41   41
373    202001           세종                중식 음식점업  ...        155  155  155
374    202001           세종             차량용 가스 충전업  ...         68   68   68
375    202001           세종            차량용 주유소 운영업  ...        423  423  423
376    202001           세종                체인화 편의점  ...        895  895  895
377    202001           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        242  242  242
378    202001           세종                한식 음식점업  ...        800  800  800
379    202001           세종          화장품 및 방향제 소매업  ...         50   50   50

[30 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT  AMT  CNT
380    202002           세종             건강보조식품 소매업  ...         10   10   10
381    202002           세종                골프장 운영업  ...         64   64   64
382    202002           세종            과실 및 채소 소매업  ...        132  132  132
383    202002           세종      관광 민예품 및 선물용품 소매업  ...          1    1    1
384    202002           세종           그외 기타 종합 소매업  ...         22   22   22
385    202002           세종           기타 대형 종합 소매업  ...        316  316  316
386    202002           세종            기타 외국식 음식점업  ...         80   80   80
387    202002           세종                 기타 주점업  ...          5    5    5
388    202002           세종          기타음식료품위주종합소매업  ...        142  142  142
389    202002           세종                   마사지업  ...          1    1    1
390    202002           세종               비알콜 음료점업  ...        301  301  301
391    202002           세종            빵 및 과자류 소매업  ...        233  233  233
392    202002           세종               서양식 음식점업  ...        284  284  284
393    202002           세종                수산물 소매업  ...         33   33   33
394    202002           세종                   슈퍼마켓  ...        341  341  341
395    202002           세종     스포츠 및 레크레이션 용품 임대업  ...         35   35   35
396    202002           세종                    여관업  ...          8    8    8
397    202002           세종                    욕탕업  ...         47   47   47
398    202002           세종                 육류 소매업  ...         98   98   98
399    202002           세종               일반유흥 주점업  ...          6    6    6
400    202002           세종                일식 음식점업  ...         55   55   55
401    202002           세종            전시 및 행사 대행업  ...          7    7    7
402    202002           세종                중식 음식점업  ...        139  139  139
403    202002           세종             차량용 가스 충전업  ...         49   49   49
404    202002           세종            차량용 주유소 운영업  ...        376  376  376
405    202002           세종                체인화 편의점  ...        794  794  794
406    202002           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        196  196  196
407    202002           세종                한식 음식점업  ...        723  723  723
408    202002           세종          화장품 및 방향제 소매업  ...         53   53   53

[29 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  ...  CSTMR_CNT  AMT  CNT
409    202003           세종             건강보조식품 소매업  ...          9    9    9
410    202003           세종                골프장 운영업  ...         88   88   88
411    202003           세종            과실 및 채소 소매업  ...        126  126  126
412    202003           세종           그외 기타 종합 소매업  ...         25   25   25
413    202003           세종           기타 대형 종합 소매업  ...        349  349  349
414    202003           세종            기타 외국식 음식점업  ...         72   72   72
415    202003           세종                 기타 주점업  ...          2    2    2
416    202003           세종          기타음식료품위주종합소매업  ...        159  159  159
417    202003           세종                   마사지업  ...          3    3    3
418    202003           세종               비알콜 음료점업  ...        268  268  268
419    202003           세종            빵 및 과자류 소매업  ...        263  263  263
420    202003           세종               서양식 음식점업  ...        301  301  301
421    202003           세종                수산물 소매업  ...         27   27   27
422    202003           세종                   슈퍼마켓  ...        448  448  448
423    202003           세종     스포츠 및 레크레이션 용품 임대업  ...         49   49   49
424    202003           세종                    여관업  ...          7    7    7
425    202003           세종                    욕탕업  ...         21   21   21
426    202003           세종                 육류 소매업  ...        111  111  111
427    202003           세종               일반유흥 주점업  ...          5    5    5
428    202003           세종                일식 음식점업  ...         45   45   45
429    202003           세종            전시 및 행사 대행업  ...          1    1    1
430    202003           세종                중식 음식점업  ...        146  146  146
431    202003           세종             차량용 가스 충전업  ...         57   57   57
432    202003           세종            차량용 주유소 운영업  ...        368  368  368
433    202003           세종                체인화 편의점  ...        803  803  803
434    202003           세종  피자 햄버거 샌드위치 및 유사 음식점업  ...        219  219  219
435    202003           세종                한식 음식점업  ...        669  669  669
436    202003           세종          화장품 및 방향제 소매업  ...         50   50   50

[28 rows x 12 columns]

"그룹핑 컬럼: ('REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'), 확인 컬럼: REG_YYMM"

In [11]:
# 고객 거주지역 별 결측치 확인: 굉장히 다양한데?
display_null_df(data, 'HOM_CCG_NM', 'REG_YYMM', 'REG_YYMM', 'CARD_SIDO_NM')

    REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
0     201901           강원          352  ...        352   352   352
1     201901           경기         1202  ...       1202  1202  1202
2     201901           경남          163  ...        163   163   163
3     201901           경북          304  ...        304   304   304
4     201901           광주           69  ...         69    69    69
5     201901           대구          128  ...        128   128   128
6     201901           대전         1304  ...       1304  1304  1304
7     201901           부산          315  ...        315   315   315
8     201901           서울         1928  ...       1928  1928  1928
9     201901           세종            0  ...        515   515   515
10    201901           울산           47  ...         47    47    47
11    201901           인천          341  ...        341   341   341
12    201901           전남          128  ...        128   128   128
13    201901           전북          441  ...        441   441   441
14    201901           제주          208  ...        208   208   208
15    201901           충남         1418  ...       1418  1418  1418
16    201901           충북          968  ...        968   968   968

[17 rows x 12 columns]

    REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
17    201902           강원          295  ...        295   295   295
18    201902           경기         1211  ...       1211  1211  1211
19    201902           경남          195  ...        195   195   195
20    201902           경북          349  ...        349   349   349
21    201902           광주          104  ...        104   104   104
22    201902           대구          156  ...        156   156   156
23    201902           대전         1294  ...       1294  1294  1294
24    201902           부산          352  ...        352   352   352
25    201902           서울         1938  ...       1938  1938  1938
26    201902           세종            0  ...        505   505   505
27    201902           울산           39  ...         39    39    39
28    201902           인천          335  ...        335   335   335
29    201902           전남          197  ...        197   197   197
30    201902           전북          506  ...        506   506   506
31    201902           제주          207  ...        207   207   207
32    201902           충남         1404  ...       1404  1404  1404
33    201902           충북         1004  ...       1004  1004  1004

[17 rows x 12 columns]

    REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
34    201903           강원          206  ...        206   206   206
35    201903           경기         1261  ...       1261  1261  1261
36    201903           경남          180  ...        180   180   180
37    201903           경북          346  ...        346   346   346
38    201903           광주           91  ...         91    91    91
39    201903           대구          120  ...        120   120   120
40    201903           대전         1303  ...       1303  1303  1303
41    201903           부산          288  ...        288   288   288
42    201903           서울         1954  ...       1954  1954  1954
43    201903           세종            0  ...        515   515   515
44    201903           울산           40  ...         40    40    40
45    201903           인천          347  ...        347   347   347
46    201903           전남          175  ...        175   175   175
47    201903           전북          452  ...        452   452   452
48    201903           제주          189  ...        189   189   189
49    201903           충남         1503  ...       1503  1503  1503
50    201903           충북         1040  ...       1040  1040  1040

[17 rows x 12 columns]

    REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
51    201904           강원          184  ...        184   184   184
52    201904           경기         1199  ...       1199  1199  1199
53    201904           경남          194  ...        194   194   194
54    201904           경북          321  ...        321   321   321
55    201904           광주           92  ...         92    92    92
56    201904           대구          113  ...        113   113   113
57    201904           대전         1311  ...       1311  1311  1311
58    201904           부산          253  ...        253   253   253
59    201904           서울         1905  ...       1905  1905  1905
60    201904           세종            0  ...        509   509   509
61    201904           울산           41  ...         41    41    41
62    201904           인천          312  ...        312   312   312
63    201904           전남          169  ...        169   169   169
64    201904           전북          472  ...        472   472   472
65    201904           제주          196  ...        196   196   196
66    201904           충남         1530  ...       1530  1530  1530
67    201904           충북         1055  ...       1055  1055  1055

[17 rows x 12 columns]

    REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
68    201905           강원          248  ...        248   248   248
69    201905           경기         1372  ...       1372  1372  1372
70    201905           경남          188  ...        188   188   188
71    201905           경북          347  ...        347   347   347
72    201905           광주          112  ...        112   112   112
73    201905           대구          126  ...        126   126   126
74    201905           대전         1328  ...       1328  1328  1328
75    201905           부산          328  ...        328   328   328
76    201905           서울         2046  ...       2046  2046  2046
77    201905           세종            0  ...        529   529   529
78    201905           울산           49  ...         49    49    49
79    201905           인천          345  ...        345   345   345
80    201905           전남          208  ...        208   208   208
81    201905           전북          530  ...        530   530   530
82    201905           제주          276  ...        276   276   276
83    201905           충남         1616  ...       1616  1616  1616
84    201905           충북         1117  ...       1117  1117  1117

[17 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
85     201906           강원          284  ...        284   284   284
86     201906           경기         1268  ...       1268  1268  1268
87     201906           경남          182  ...        182   182   182
88     201906           경북          317  ...        317   317   317
89     201906           광주          103  ...        103   103   103
90     201906           대구          122  ...        122   122   122
91     201906           대전         1291  ...       1291  1291  1291
92     201906           부산          347  ...        347   347   347
93     201906           서울         1980  ...       1980  1980  1980
94     201906           세종            0  ...        526   526   526
95     201906           울산           36  ...         36    36    36
96     201906           인천          317  ...        317   317   317
97     201906           전남          176  ...        176   176   176
98     201906           전북          466  ...        466   466   466
99     201906           제주          231  ...        231   231   231
100    201906           충남         1589  ...       1589  1589  1589
101    201906           충북         1069  ...       1069  1069  1069

[17 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
102    201907           강원          382  ...        382   382   382
103    201907           경기         1305  ...       1305  1305  1305
104    201907           경남          192  ...        192   192   192
105    201907           경북          330  ...        330   330   330
106    201907           광주          104  ...        104   104   104
107    201907           대구          120  ...        120   120   120
108    201907           대전         1278  ...       1278  1278  1278
109    201907           부산          355  ...        355   355   355
110    201907           서울         2059  ...       2059  2059  2059
111    201907           세종            0  ...        524   524   524
112    201907           울산           43  ...         43    43    43
113    201907           인천          321  ...        321   321   321
114    201907           전남          197  ...        197   197   197
115    201907           전북          442  ...        442   442   442
116    201907           제주          227  ...        227   227   227
117    201907           충남         1572  ...       1572  1572  1572
118    201907           충북         1057  ...       1057  1057  1057

[17 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
119    201908           강원          559  ...        559   559   559
120    201908           경기         1384  ...       1384  1384  1384
121    201908           경남          271  ...        271   271   271
122    201908           경북          409  ...        409   409   409
123    201908           광주          108  ...        108   108   108
124    201908           대구          135  ...        135   135   135
125    201908           대전         1269  ...       1269  1269  1269
126    201908           부산          425  ...        425   425   425
127    201908           서울         2021  ...       2021  2021  2021
128    201908           세종            0  ...        517   517   517
129    201908           울산           50  ...         50    50    50
130    201908           인천          339  ...        339   339   339
131    201908           전남          286  ...        286   286   286
132    201908           전북          574  ...        574   574   574
133    201908           제주          276  ...        276   276   276
134    201908           충남         1636  ...       1636  1636  1636
135    201908           충북         1132  ...       1132  1132  1132

[17 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
136    201909           강원          263  ...        263   263   263
137    201909           경기         1358  ...       1358  1358  1358
138    201909           경남          204  ...        204   204   204
139    201909           경북          364  ...        364   364   364
140    201909           광주          133  ...        133   133   133
141    201909           대구          132  ...        132   132   132
142    201909           대전         1306  ...       1306  1306  1306
143    201909           부산          298  ...        298   298   298
144    201909           서울         1961  ...       1961  1961  1961
145    201909           세종            0  ...        524   524   524
146    201909           울산           37  ...         37    37    37
147    201909           인천          302  ...        302   302   302
148    201909           전남          201  ...        201   201   201
149    201909           전북          518  ...        518   518   518
150    201909           제주          204  ...        204   204   204
151    201909           충남         1650  ...       1650  1650  1650
152    201909           충북         1107  ...       1107  1107  1107

[17 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
153    201910           강원          321  ...        321   321   321
154    201910           경기         1372  ...       1372  1372  1372
155    201910           경남          159  ...        159   159   159
156    201910           경북          340  ...        340   340   340
157    201910           광주          105  ...        105   105   105
158    201910           대구          123  ...        123   123   123
159    201910           대전         1300  ...       1300  1300  1300
160    201910           부산          268  ...        268   268   268
161    201910           서울         2019  ...       2019  2019  2019
162    201910           세종            0  ...        511   511   511
163    201910           울산           37  ...         37    37    37
164    201910           인천          304  ...        304   304   304
165    201910           전남          170  ...        170   170   170
166    201910           전북          498  ...        498   498   498
167    201910           제주          231  ...        231   231   231
168    201910           충남         1626  ...       1626  1626  1626
169    201910           충북         1070  ...       1070  1070  1070

[17 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
170    201911           강원          203  ...        203   203   203
171    201911           경기         1172  ...       1172  1172  1172
172    201911           경남          146  ...        146   146   146
173    201911           경북          338  ...        338   338   338
174    201911           광주          101  ...        101   101   101
175    201911           대구          109  ...        109   109   109
176    201911           대전         1272  ...       1272  1272  1272
177    201911           부산          264  ...        264   264   264
178    201911           서울         1889  ...       1889  1889  1889
179    201911           세종            0  ...        521   521   521
180    201911           울산           32  ...         32    32    32
181    201911           인천          267  ...        267   267   267
182    201911           전남          171  ...        171   171   171
183    201911           전북          482  ...        482   482   482
184    201911           제주          230  ...        230   230   230
185    201911           충남         1431  ...       1431  1431  1431
186    201911           충북         1032  ...       1032  1032  1032

[17 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
187    201912           강원          257  ...        257   257   257
188    201912           경기         1241  ...       1241  1241  1241
189    201912           경남          164  ...        164   164   164
190    201912           경북          346  ...        346   346   346
191    201912           광주           97  ...         97    97    97
192    201912           대구          115  ...        115   115   115
193    201912           대전         1297  ...       1297  1297  1297
194    201912           부산          320  ...        320   320   320
195    201912           서울         2036  ...       2036  2036  2036
196    201912           세종            0  ...        523   523   523
197    201912           울산           39  ...         39    39    39
198    201912           인천          300  ...        300   300   300
199    201912           전남          164  ...        164   164   164
200    201912           전북          426  ...        426   426   426
201    201912           제주          204  ...        204   204   204
202    201912           충남         1425  ...       1425  1425  1425
203    201912           충북         1006  ...       1006  1006  1006

[17 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
204    202001           강원          371  ...        371   371   371
205    202001           경기         1199  ...       1199  1199  1199
206    202001           경남          194  ...        194   194   194
207    202001           경북          380  ...        380   380   380
208    202001           광주          104  ...        104   104   104
209    202001           대구          143  ...        143   143   143
210    202001           대전         1310  ...       1310  1310  1310
211    202001           부산          318  ...        318   318   318
212    202001           서울         1924  ...       1924  1924  1924
213    202001           세종            0  ...        523   523   523
214    202001           울산           41  ...         41    41    41
215    202001           인천          325  ...        325   325   325
216    202001           전남          192  ...        192   192   192
217    202001           전북          455  ...        455   455   455
218    202001           제주          210  ...        210   210   210
219    202001           충남         1402  ...       1402  1402  1402
220    202001           충북         1023  ...       1023  1023  1023

[17 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
221    202002           강원          212  ...        212   212   212
222    202002           경기          838  ...        838   838   838
223    202002           경남          104  ...        104   104   104
224    202002           경북          184  ...        184   184   184
225    202002           광주           50  ...         50    50    50
226    202002           대구           60  ...         60    60    60
227    202002           대전         1133  ...       1133  1133  1133
228    202002           부산          161  ...        161   161   161
229    202002           서울         1536  ...       1536  1536  1536
230    202002           세종            0  ...        505   505   505
231    202002           울산           32  ...         32    32    32
232    202002           인천          204  ...        204   204   204
233    202002           전남           97  ...         97    97    97
234    202002           전북          276  ...        276   276   276
235    202002           제주          104  ...        104   104   104
236    202002           충남         1116  ...       1116  1116  1116
237    202002           충북          819  ...        819   819   819

[17 rows x 12 columns]

     REG_YYMM CARD_SIDO_NM  CARD_CCG_NM  ...  CSTMR_CNT   AMT   CNT
238    202003           강원           82  ...         82    82    82
239    202003           경기          772  ...        772   772   772
240    202003           경남           74  ...         74    74    74
241    202003           경북          103  ...        103   103   103
242    202003           광주           47  ...         47    47    47
243    202003           대구           22  ...         22    22    22
244    202003           대전         1069  ...       1069  1069  1069
245    202003           부산           79  ...         79    79    79
246    202003           서울         1337  ...       1337  1337  1337
247    202003           세종            0  ...        489   489   489
248    202003           울산           14  ...         14    14    14
249    202003           인천          159  ...        159   159   159
250    202003           전남          117  ...        117   117   117
251    202003           전북          305  ...        305   305   305
252    202003           제주           78  ...         78    78    78
253    202003           충남         1287  ...       1287  1287  1287
254    202003           충북          816  ...        816   816   816

[17 rows x 12 columns]

"그룹핑 컬럼: ('REG_YYMM', 'CARD_SIDO_NM'), 확인 컬럼: REG_YYMM"

# _2_. 데이터 분포 확인
* 요약 통계량
* 이상치
* 히스토그램
* 산점도

In [40]:
# 변수별 분류
cat_features = ['REG_YYMM_NEW', 'CARD_SIDO_NM', 'CARD_CCG_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM', 'HOM_CCG_NM', 'AGE', 'SEX_CTGO_CD', 'FLC']
num_features = ['CSTMR_CNT', 'AMT', 'CNT']

In [33]:
# 통계량 확인
for feature in cat_features:
    print(feature)
    display(pd.DataFrame([data[feature].value_counts(), (data[feature].value_counts() / len(data[feature]))*100]).T)
    print('')

REG_YYMM_NEW

        REG_YYMM_NEW  REG_YYMM_NEW
201908     1880296.0      7.613215
201905     1772237.0      7.175690
201910     1751005.0      7.089723
201909     1734914.0      7.024571
201907     1721353.0      6.969664
201906     1712696.0      6.934612
201912     1674381.0      6.779476
202001     1672889.0      6.773435
201903     1668675.0      6.756373
201904     1655655.0      6.703656
201911     1652905.0      6.692521
201901     1607032.0      6.506784
201902     1594266.0      6.455095
202002     1338980.0      5.421456
202003     1260508.0      5.103727

CARD_SIDO_NM

    CARD_SIDO_NM  CARD_SIDO_NM
서울     6259502.0     25.344379
경기     5188230.0     21.006858
부산     2030810.0      8.222638
인천     1278410.0      5.176212
강원     1230355.0      4.981640
경남     1222818.0      4.951123
경북     1204831.0      4.878294
충남     1178159.0      4.770301
충북      834707.0      3.379683
전북      829466.0      3.358462
전남      819291.0      3.317264
대구      758424.0      3.070817
대전      523121.0      2.118088
제주      497503.0      2.014362
광주      432150.0      1.749752
울산      322802.0      1.307008
세종       87213.0      0.353121

CARD_CCG_NM

     CARD_CCG_NM  CARD_CCG_NM
중구     1185474.0     4.799919
남구      512319.0     2.074351
동구      509407.0     2.062561
서구      501952.0     2.032376
강서구     490111.0     1.984432
..           ...          ...
청양군      13894.0     0.056256
신안군      10296.0     0.041688
울릉군      10210.0     0.041340
봉화군       9841.0     0.039846
영양군       5728.0     0.023192

[226 rows x 2 columns]

STD_CLSS_NM

                       STD_CLSS_NM  STD_CLSS_NM
한식 음식점업                  3697166.0    14.969622
체인화 편의점                  3210466.0    12.999000
슈퍼마켓                     1630700.0     6.602615
차량용 주유소 운영업              1613476.0     6.532875
비알콜 음료점업                 1586120.0     6.422113
기타 대형 종합 소매업             1495163.0     6.053833
서양식 음식점업                 1404839.0     5.688116
피자 햄버거 샌드위치 및 유사 음식점업    1351478.0     5.472060
빵 및 과자류 소매업               989794.0     4.007621
중식 음식점업                   698803.0     2.829415
기타음식료품위주종합소매업             558716.0     2.262210
기타 외국식 음식점업               556813.0     2.254505
일식 음식점업                   539071.0     2.182669
과실 및 채소 소매업               504479.0     2.042608
스포츠 및 레크레이션 용품 임대업        466533.0     1.888966
화장품 및 방향제 소매업             383713.0     1.553633
택시 운송업                    381993.0     1.546669
그외 기타 종합 소매업              351817.0     1.424488
여관업                       334994.0     1.356372
전시 및 행사 대행업               330569.0     1.338456
육류 소매업                    327160.0     1.324653
욕탕업                       259567.0     1.050972
수산물 소매업                   255488.0     1.034457
골프장 운영업                   236554.0     0.957794
차량용 가스 충전업                218242.0     0.883650
버스 운송업                    192281.0     0.778535
일반유흥 주점업                  174081.0     0.704844
호텔업                       155309.0     0.628838
면세점                       144349.0     0.584461
정기 항공 운송업                 115914.0     0.469329
휴양콘도 운영업                  114921.0     0.465309
건강보조식품 소매업                 83857.0     0.339532
관광 민예품 및 선물용품 소매업          78793.0     0.319029
기타 주점업                     73244.0     0.296561
내항 여객 운송업                  72294.0     0.292714
여행사업                       47446.0     0.192106
자동차 임대업                    26024.0     0.105370
마사지업                       17844.0     0.072249
그외 기타 스포츠시설 운영업            11077.0     0.044850
기타 수상오락 서비스업                6356.0     0.025735
그외 기타 분류안된 오락관련 서비스업         288.0     0.001166

HOM_SIDO_NM

    HOM_SIDO_NM  HOM_SIDO_NM
경기    6614016.0    26.779787
서울    5387540.0    21.813853
부산    1960951.0     7.939783
경남    1463499.0     5.925627
인천    1350921.0     5.469805
대구    1077209.0     4.361560
경북    1068082.0     4.324605
충남     909568.0     3.682791
전남     765499.0     3.099463
전북     741515.0     3.002353
충북     687090.0     2.781990
광주     667626.0     2.703181
강원     602004.0     2.437481
대전     586938.0     2.376480
울산     502297.0     2.033773
제주     165250.0     0.669088
세종     147787.0     0.598381

HOM_CCG_NM

     HOM_CCG_NM  HOM_CCG_NM
서구     707806.0    2.865868
남구     659294.0    2.669445
북구     593152.0    2.401640
동구     503304.0    2.037850
중구     500592.0    2.026869
..          ...         ...
장수군     11529.0    0.046680
군위군     10114.0    0.040951
청송군     10015.0    0.040550
영양군      7661.0    0.031019
울릉군      5919.0    0.023966

[226 rows x 2 columns]

AGE

           AGE        AGE
40s  5802447.0  23.493788
30s  5550519.0  22.473746
20s  5091675.0  20.615912
50s  4455687.0  18.040831
60s  2606168.0  10.552231
70s   876622.0   3.549394
10s   314674.0   1.274098

SEX_CTGO_CD

   SEX_CTGO_CD  SEX_CTGO_CD
1   14506378.0    58.735526
2   10191414.0    41.264474

FLC

         FLC        FLC
2  6188801.0  25.058115
1  5526140.0  22.375037
4  5445320.0  22.047801
3  4054741.0  16.417423
5  3482790.0  14.101625

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24697792 entries, 0 to 24697791
Data columns (total 14 columns):
 #   Column        Dtype
---  ------        -----
 0   REG_YYMM      int64
 1   CARD_SIDO_NM  object
 2   CARD_CCG_NM   object
 3   STD_CLSS_NM   object
 4   HOM_SIDO_NM   object
 5   HOM_CCG_NM    object
 6   AGE           object
 7   SEX_CTGO_CD   int64
 8   FLC           int64
 9   CSTMR_CNT     int64
 10  AMT           int64
 11  CNT           int64
 12  REG_YYMM_NEW  object
 13  AGE_NEW       int64
dtypes: int64(7), object(7)
memory usage: 2.6+ GB

In [42]:
# 숫자형 데이터 요약 통계량 확인
data[num_features + ['AGE_NEW', 'FLC']].describe().astype('int64')

       CSTMR_CNT         AMT       CNT   AGE_NEW       FLC
count   24697792    24697792  24697792  24697792  24697792
mean          61     2441352       126        38         2
std          355    17260959       966        14         1
min            3          20         1        10         1
25%            4       90200         5        30         2
50%            8      252680        12        40         3
75%           24      843337        40        50         4
max        32813  2349523701    120357        70         5

# _3_.  고객 구매금액 별로?