# LGBM_baseline

 DACON Baseline 코드 + LGBM 파라미터 조정만.

In [ ]:
# install lgbm
!pip install lightgbm

Requirement already satisfied: lightgbm in /usr/local/lib/python3.6/dist-packages (2.2.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from lightgbm) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from lightgbm) (0.22.2.post1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lightgbm) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->lightgbm) (0.16.0)

In [ ]:
# module import
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import os
import glob

In [ ]:
# path
root_path = '/content/drive/My Drive/TOY/DACON/DACON-JEJU'
data_path = os.path.join(root_path, 'data')
submission_path = os.path.join(root_path, 'submission')

## 데이터 전처리

In [ ]:
# load data
data = pd.read_csv(os.path.join(data_path, '201901-202003.csv'))

In [ ]:
data.head()

   REG_YYMM CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM  ... FLC CSTMR_CNT      AMT  CNT
0    201901           강원         강릉시  건강보조식품 소매업  ...   1         4   311200    4
1    201901           강원         강릉시  건강보조식품 소매업  ...   2         7  1374500    8
2    201901           강원         강릉시  건강보조식품 소매업  ...   2         6   818700    6
3    201901           강원         강릉시  건강보조식품 소매업  ...   3         4  1717000    5
4    201901           강원         강릉시  건강보조식품 소매업  ...   4         3  1047300    3

[5 rows x 12 columns]

In [ ]:
data.isnull().sum()

REG_YYMM             0
CARD_SIDO_NM         0
CARD_CCG_NM      87213
STD_CLSS_NM          0
HOM_SIDO_NM          0
HOM_CCG_NM      147787
AGE                  0
SEX_CTGO_CD          0
FLC                  0
CSTMR_CNT            0
AMT                  0
CNT                  0
dtype: int64

In [ ]:
data['REG_YYMM'].unique()

array([201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
       201909, 201910, 201911, 201912, 202001, 202002, 202003])

In [ ]:
# 데이터 전처리
def grap_year(data):
    data = str(data)
    return int(data[:4])

def grap_month(data):
    data = str(data)
    return int(data[4:])

In [ ]:
# 결측치 채우기
# data = data.fillna('')

# 년, 월 나누기
data['year'] = data['REG_YYMM'].apply(lambda x: grap_year(x))
data['month'] = data['REG_YYMM'].apply(lambda x: grap_month(x))
data.drop('REG_YYMM', axis=1, inplace=True)
data.head()

  CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM HOM_SIDO_NM  ...      AMT CNT  year  month
0           강원         강릉시  건강보조식품 소매업          강원  ...   311200   4  2019      1
1           강원         강릉시  건강보조식품 소매업          강원  ...  1374500   8  2019      1
2           강원         강릉시  건강보조식품 소매업          강원  ...   818700   6  2019      1
3           강원         강릉시  건강보조식품 소매업          강원  ...  1717000   5  2019      1
4           강원         강릉시  건강보조식품 소매업          강원  ...  1047300   3  2019      1

[5 rows x 13 columns]

In [ ]:
# 결측치 있는 열 삭제
df = data.drop(columns=['CARD_CCG_NM', 'HOM_CCG_NM'], axis=1)
df.head()

  CARD_SIDO_NM STD_CLSS_NM HOM_SIDO_NM  AGE  ...      AMT  CNT  year  month
0           강원  건강보조식품 소매업          강원  20s  ...   311200    4  2019      1
1           강원  건강보조식품 소매업          강원  30s  ...  1374500    8  2019      1
2           강원  건강보조식품 소매업          강원  30s  ...   818700    6  2019      1
3           강원  건강보조식품 소매업          강원  40s  ...  1717000    5  2019      1
4           강원  건강보조식품 소매업          강원  40s  ...  1047300    3  2019      1

[5 rows x 11 columns]

In [ ]:
# 시도별, 업종별, 고객 지역별, 나이대별, 성별, FLC, year, month별 합으로 그룹화 : 범주형 변수별로 묶은 것.
columns = ['CARD_SIDO_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'year', 'month']
df = df.groupby(columns).sum().reset_index(drop=False)
df.head()

  CARD_SIDO_NM STD_CLSS_NM HOM_SIDO_NM  AGE  ...  month  CSTMR_CNT     AMT  CNT
0           강원  건강보조식품 소매업          강원  20s  ...      1          4  311200    4
1           강원  건강보조식품 소매업          강원  20s  ...      2          3  605000    3
2           강원  건강보조식품 소매업          강원  20s  ...      6          3  139000    3
3           강원  건강보조식품 소매업          강원  20s  ...      8          3   27500    3
4           강원  건강보조식품 소매업          강원  20s  ...      9          3  395500    3

[5 rows x 11 columns]

In [ ]:
# 열 삭제: CSTMR_CNT, CNT
df.drop(columns=['CSTMR_CNT', 'CNT'], axis=1, inplace=True)
df.head()

  CARD_SIDO_NM STD_CLSS_NM HOM_SIDO_NM  AGE  ...  FLC  year  month     AMT
0           강원  건강보조식품 소매업          강원  20s  ...    1  2019      1  311200
1           강원  건강보조식품 소매업          강원  20s  ...    1  2019      2  605000
2           강원  건강보조식품 소매업          강원  20s  ...    1  2019      6  139000
3           강원  건강보조식품 소매업          강원  20s  ...    1  2019      8   27500
4           강원  건강보조식품 소매업          강원  20s  ...    1  2019      9  395500

[5 rows x 9 columns]

In [ ]:
# 인코딩
print(df.info())

dtypes = df.dtypes # 인덱스가 col, 값이 데이터타입.
encoders = {} # 인코딩해야 할 객체 dict로 저장.

for col in df.columns:
    if str(dtypes[col]) == 'object':
        encoder = LabelEncoder()
        encoder.fit(df[col])
        encoders[col] = encoder # 인코더 객체 저장해 놓고 나중에.

df_num = df.copy()
for col in encoders.keys():
    encoder = encoders[col]
    print(col, encoder.classes_)
    df_num[col] = encoder.transform(df[col]) # 바꾸기

print(df_num.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057394 entries, 0 to 1057393
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   CARD_SIDO_NM  1057394 non-null  object
 1   STD_CLSS_NM   1057394 non-null  object
 2   HOM_SIDO_NM   1057394 non-null  object
 3   AGE           1057394 non-null  object
 4   SEX_CTGO_CD   1057394 non-null  int64
 5   FLC           1057394 non-null  int64
 6   year          1057394 non-null  int64
 7   month         1057394 non-null  int64
 8   AMT           1057394 non-null  int64
dtypes: int64(5), object(4)
memory usage: 72.6+ MB
None
CARD_SIDO_NM ['강원' '경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북'
 '제주' '충남' '충북']
STD_CLSS_NM ['건강보조식품 소매업' '골프장 운영업' '과실 및 채소 소매업' '관광 민예품 및 선물용품 소매업'
 '그외 기타 분류안된 오락관련 서비스업' '그외 기타 스포츠시설 운영업' '그외 기타 종합 소매업' '기타 대형 종합 소매업'
 '기타 수상오락 서비스업' '기타 외국식 음식점업' '기타 주점업' '기타음식료품위주종합소매업' '내항 여객 운송업' '마사지업'
 '면세점' '버스 운송업' '비알콜 음료점업' '빵 및 과자류 소매업' '서양식 음식점업' '수산물 소매업' '슈퍼마켓'
 '스포츠 및 레크레이션 용품 임대업' '여관업' '여행사업' '욕탕업' '육류 소매업' '일반유흥 주점업' '일식 음식점업'
 '자동차 임대업' '전시 및 행사 대행업' '정기 항공 운송업' '중식 음식점업' '차량용 가스 충전업' '차량용 주유소 운영업'
 '체인화 편의점' '택시 운송업' '피자 햄버거 샌드위치 및 유사 음식점업' '한식 음식점업' '호텔업'
 '화장품 및 방향제 소매업' '휴양콘도 운영업']
HOM_SIDO_NM ['강원' '경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북'
 '제주' '충남' '충북']
AGE ['10s' '20s' '30s' '40s' '50s' '60s' '70s']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057394 entries, 0 to 1057393
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   CARD_SIDO_NM  1057394 non-null  int64
 1   STD_CLSS_NM   1057394 non-null  int64
 2   HOM_SIDO_NM   1057394 non-null  int64
 3   AGE           1057394 non-null  int64
 4   SEX_CTGO_CD   1057394 non-null  int64
 5   FLC           1057394 non-null  int64
 6   year          1057394 non-null  int64
 7   month         1057394 non-null  int64
 8   AMT           1057394 non-null  int64
dtypes: int64(9)
memory usage: 72.6 MB
None

In [ ]:
display(df_num)

         CARD_SIDO_NM  STD_CLSS_NM  HOM_SIDO_NM  AGE  ...  FLC  year  month     AMT
0                   0            0            0    1  ...    1  2019      1  311200
1                   0            0            0    1  ...    1  2019      2  605000
2                   0            0            0    1  ...    1  2019      6  139000
3                   0            0            0    1  ...    1  2019      8   27500
4                   0            0            0    1  ...    1  2019      9  395500
...               ...          ...          ...  ...  ...  ...   ...    ...     ...
1057389            16           40           16    6  ...    5  2019      3  148000
1057390            16           40           16    6  ...    5  2019      5  329800
1057391            16           40           16    6  ...    5  2019     10  557800
1057392            16           40           16    6  ...    5  2019     12  247800
1057393            16           40           16    6  ...    5  2020      1  230400

[1057394 rows x 9 columns]

In [ ]:
# feature, target 설정
train_features = df_num.drop(columns=['AMT'], axis=1) # 훈련 데이터
train_labels = np.log1p(df_num['AMT'])

In [ ]:
# 트레인, 테스트 분리
X_train, X_test, y_train, y_test = train_test_split(train_features, train_labels, shuffle=True, test_size=0.2)

## LGBM 데이터셋

In [ ]:
# LGBM 데이터셋 구성
# train_data = lgb.Dataset(X_train, label=y_train, categorical_feature=['CARD_SIDO_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM', 'AGE', 'SEX_CTGO_CD', 'FLC'])
train_data = lgb.Dataset(X_train, label=y_train)
val_data = lgb.Dataset(X_test, label=y_test)

## 파라미터 조정

In [ ]:
# 3) 6.10xx
%%time
params_ = {'boosting_type': 'gbdt',
           'objective': 'regression',
           'metric': 'rmse', 
           'learning_rate': 0.025,
           'metric_freq': 10,
           'max_depth':-1,
           'early_stopping_round': 50,
           'verbose': 1}

model = lgb.train(params=params_,
                  train_set=train_data,
                  num_boost_round=10000,
                  valid_sets=val_data,
                  verbose_eval=100,
                  early_stopping_rounds=100)

/usr/local/lib/python3.6/dist-packages/lightgbm/engine.py:123: UserWarning: Found `early_stopping_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

Training until validation scores don't improve for 50 rounds.
[100]	valid_0's rmse: 2.14827
[200]	valid_0's rmse: 1.973
[300]	valid_0's rmse: 1.87729
[400]	valid_0's rmse: 1.81124
[500]	valid_0's rmse: 1.75553
[600]	valid_0's rmse: 1.70347
[700]	valid_0's rmse: 1.65038
[800]	valid_0's rmse: 1.59635
[900]	valid_0's rmse: 1.55797
[1000]	valid_0's rmse: 1.52981
[1100]	valid_0's rmse: 1.49923
[1200]	valid_0's rmse: 1.47167
[1300]	valid_0's rmse: 1.4419
[1400]	valid_0's rmse: 1.41949
[1500]	valid_0's rmse: 1.39908
[1600]	valid_0's rmse: 1.37719
[1700]	valid_0's rmse: 1.35577
[1800]	valid_0's rmse: 1.33246
[1900]	valid_0's rmse: 1.31082
[2000]	valid_0's rmse: 1.29246
[2100]	valid_0's rmse: 1.27234
[2200]	valid_0's rmse: 1.25828
[2300]	valid_0's rmse: 1.24415
[2400]	valid_0's rmse: 1.22942
[2500]	valid_0's rmse: 1.21533
[2600]	valid_0's rmse: 1.19856
[2700]	valid_0's rmse: 1.18873
[2800]	valid_0's rmse: 1.17903
[2900]	valid_0's rmse: 1.16871
[3000]	valid_0's rmse: 1.15912
[3100]	valid_0's rmse: 1.14772
[3200]	valid_0's rmse: 1.13678
[3300]	valid_0's rmse: 1.12739
[3400]	valid_0's rmse: 1.11891
[3500]	valid_0's rmse: 1.11091
[3600]	valid_0's rmse: 1.10361
[3700]	valid_0's rmse: 1.09713
[3800]	valid_0's rmse: 1.08974
[3900]	valid_0's rmse: 1.08252
[4000]	valid_0's rmse: 1.07477
[4100]	valid_0's rmse: 1.06655
[4200]	valid_0's rmse: 1.05912
[4300]	valid_0's rmse: 1.05114
[4400]	valid_0's rmse: 1.04538
[4500]	valid_0's rmse: 1.0373
[4600]	valid_0's rmse: 1.02877
[4700]	valid_0's rmse: 1.02027
[4800]	valid_0's rmse: 1.01269
[4900]	valid_0's rmse: 1.00609
[5000]	valid_0's rmse: 0.998921
[5100]	valid_0's rmse: 0.991237
[5200]	valid_0's rmse: 0.985328
[5300]	valid_0's rmse: 0.979836
[5400]	valid_0's rmse: 0.974345
[5500]	valid_0's rmse: 0.969647
[5600]	valid_0's rmse: 0.965036
[5700]	valid_0's rmse: 0.96006
[5800]	valid_0's rmse: 0.95625
[5900]	valid_0's rmse: 0.951852
[6000]	valid_0's rmse: 0.947908
[6100]	valid_0's rmse: 0.943027
[6200]	valid_0's rmse: 0.937674
[6300]	valid_0's rmse: 0.932547
[6400]	valid_0's rmse: 0.926598
[6500]	valid_0's rmse: 0.921746
[6600]	valid_0's rmse: 0.917978
[6700]	valid_0's rmse: 0.913891
[6800]	valid_0's rmse: 0.91031
[6900]	valid_0's rmse: 0.906595
[7000]	valid_0's rmse: 0.903406
[7100]	valid_0's rmse: 0.900501
[7200]	valid_0's rmse: 0.897414
[7300]	valid_0's rmse: 0.894459
[7400]	valid_0's rmse: 0.891866
[7500]	valid_0's rmse: 0.889086
[7600]	valid_0's rmse: 0.886247
[7700]	valid_0's rmse: 0.883941
[7800]	valid_0's rmse: 0.881336
[7900]	valid_0's rmse: 0.878692
[8000]	valid_0's rmse: 0.876066
[8100]	valid_0's rmse: 0.873636
[8200]	valid_0's rmse: 0.871122
[8300]	valid_0's rmse: 0.868707
[8400]	valid_0's rmse: 0.866094
[8500]	valid_0's rmse: 0.863787
[8600]	valid_0's rmse: 0.861419
[8700]	valid_0's rmse: 0.859252
[8800]	valid_0's rmse: 0.857462
[8900]	valid_0's rmse: 0.855042
[9000]	valid_0's rmse: 0.852887
[9100]	valid_0's rmse: 0.851184
[9200]	valid_0's rmse: 0.849446
[9300]	valid_0's rmse: 0.847507
[9400]	valid_0's rmse: 0.845473
[9500]	valid_0's rmse: 0.843612
[9600]	valid_0's rmse: 0.842052
[9700]	valid_0's rmse: 0.839931
[9800]	valid_0's rmse: 0.838446
[9900]	valid_0's rmse: 0.837118
[10000]	valid_0's rmse: 0.835596
Did not meet early stopping. Best iteration is:
[10000]	valid_0's rmse: 0.835596
CPU times: user 14min 28s, sys: 3.28 s, total: 14min 31s
Wall time: 3min 43s

In [ ]:
# # 2) 6.25xxxxx
# %%time
# params_ = {
#            'boosting_type': 'gbdt',
#            'objective': 'regression',
#            'metric': 'rmse', 
#            'is_training_metric': True,
#            'learning_rate': 0.025,
#            'metric_freq': 10,
#            'max_depth':-1,
#            'early_stopping_round': 50,
#            'verbose': 1}

# model = lgb.train(params=params_,
#                   train_set=train_data,
#                   num_boost_round=5000,
#                   valid_sets=val_data,
#                   verbose_eval=50,
#                   early_stopping_rounds=100,
#                  )

/usr/local/lib/python3.6/dist-packages/lightgbm/engine.py:123: UserWarning: Found `early_stopping_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

Training until validation scores don't improve for 50 rounds.
[50]	valid_0's rmse: 2.28329
[100]	valid_0's rmse: 2.14643
[150]	valid_0's rmse: 2.05096
[200]	valid_0's rmse: 1.97894
[250]	valid_0's rmse: 1.92987
[300]	valid_0's rmse: 1.8871
[350]	valid_0's rmse: 1.84599
[400]	valid_0's rmse: 1.81222
[450]	valid_0's rmse: 1.78111
[500]	valid_0's rmse: 1.75492
[550]	valid_0's rmse: 1.73333
[600]	valid_0's rmse: 1.71451
[650]	valid_0's rmse: 1.69332
[700]	valid_0's rmse: 1.67304
[750]	valid_0's rmse: 1.65122
[800]	valid_0's rmse: 1.63421
[850]	valid_0's rmse: 1.61329
[900]	valid_0's rmse: 1.58798
[950]	valid_0's rmse: 1.57262
[1000]	valid_0's rmse: 1.55504
[1050]	valid_0's rmse: 1.53947
[1100]	valid_0's rmse: 1.52427
[1150]	valid_0's rmse: 1.50693
[1200]	valid_0's rmse: 1.49182
[1250]	valid_0's rmse: 1.48042
[1300]	valid_0's rmse: 1.46553
[1350]	valid_0's rmse: 1.4541
[1400]	valid_0's rmse: 1.44293
[1450]	valid_0's rmse: 1.43272
[1500]	valid_0's rmse: 1.417
[1550]	valid_0's rmse: 1.40304
[1600]	valid_0's rmse: 1.39212
[1650]	valid_0's rmse: 1.38022
[1700]	valid_0's rmse: 1.36633
[1750]	valid_0's rmse: 1.35292
[1800]	valid_0's rmse: 1.34357
[1850]	valid_0's rmse: 1.33119
[1900]	valid_0's rmse: 1.32071
[1950]	valid_0's rmse: 1.31243
[2000]	valid_0's rmse: 1.30407
[2050]	valid_0's rmse: 1.29429
[2100]	valid_0's rmse: 1.28339
[2150]	valid_0's rmse: 1.27526
[2200]	valid_0's rmse: 1.26713
[2250]	valid_0's rmse: 1.26107
[2300]	valid_0's rmse: 1.25482
[2350]	valid_0's rmse: 1.24704
[2400]	valid_0's rmse: 1.23933
[2450]	valid_0's rmse: 1.23098
[2500]	valid_0's rmse: 1.22235
[2550]	valid_0's rmse: 1.21355
[2600]	valid_0's rmse: 1.20659
[2650]	valid_0's rmse: 1.2005
[2700]	valid_0's rmse: 1.19392
[2750]	valid_0's rmse: 1.18782
[2800]	valid_0's rmse: 1.17989
[2850]	valid_0's rmse: 1.17236
[2900]	valid_0's rmse: 1.16478
[2950]	valid_0's rmse: 1.15933
[3000]	valid_0's rmse: 1.15225
[3050]	valid_0's rmse: 1.1465
[3100]	valid_0's rmse: 1.14085
[3150]	valid_0's rmse: 1.13449
[3200]	valid_0's rmse: 1.12782
[3250]	valid_0's rmse: 1.1219
[3300]	valid_0's rmse: 1.11547
[3350]	valid_0's rmse: 1.11065
[3400]	valid_0's rmse: 1.10533
[3450]	valid_0's rmse: 1.10005
[3500]	valid_0's rmse: 1.09476
[3550]	valid_0's rmse: 1.08926
[3600]	valid_0's rmse: 1.0855
[3650]	valid_0's rmse: 1.0811
[3700]	valid_0's rmse: 1.0757
[3750]	valid_0's rmse: 1.07123
[3800]	valid_0's rmse: 1.06629
[3850]	valid_0's rmse: 1.0626
[3900]	valid_0's rmse: 1.05851
[3950]	valid_0's rmse: 1.05542
[4000]	valid_0's rmse: 1.05224
[4050]	valid_0's rmse: 1.04906
[4100]	valid_0's rmse: 1.04564
[4150]	valid_0's rmse: 1.0413
[4200]	valid_0's rmse: 1.0368
[4250]	valid_0's rmse: 1.03195
[4300]	valid_0's rmse: 1.02775
[4350]	valid_0's rmse: 1.02302
[4400]	valid_0's rmse: 1.01947
[4450]	valid_0's rmse: 1.01549
[4500]	valid_0's rmse: 1.01228
[4550]	valid_0's rmse: 1.00942
[4600]	valid_0's rmse: 1.00655
[4650]	valid_0's rmse: 1.00391
[4700]	valid_0's rmse: 1.00061
[4750]	valid_0's rmse: 0.997155
[4800]	valid_0's rmse: 0.994347
[4850]	valid_0's rmse: 0.991269
[4900]	valid_0's rmse: 0.988197
[4950]	valid_0's rmse: 0.984763
[5000]	valid_0's rmse: 0.98203
Did not meet early stopping. Best iteration is:
[5000]	valid_0's rmse: 0.98203
CPU times: user 8min 3s, sys: 1.76 s, total: 8min 5s
Wall time: 2min 4s

### 파라미터, 점수 기록용

In [ ]:
# # 1) 6.56xxxxxx
# params_ = {
#            'boosting_type': 'gbdt',
#            'objective': 'regression',
#            'metric': 'rmse', 
#            'is_training_metric': True,
#            'learning_rate': 0.025,
#            'metric_freq': 10,
#            'max_depth':-1,
#            'early_stopping_round': 50,
#            'verbose': 1}

# %%time
# model = lgb.train(params=params_,
#                   train_set=train_data,
#                   num_boost_round=2000,
#                   valid_sets=val_data,
#                   verbose_eval=50,
#                   early_stopping_rounds=100,
#                  )

/usr/local/lib/python3.6/dist-packages/lightgbm/engine.py:123: UserWarning: Found `early_stopping_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

Training until validation scores don't improve for 50 rounds.
[50]	valid_0's rmse: 2.28705
[100]	valid_0's rmse: 2.15662
[150]	valid_0's rmse: 2.05475
[200]	valid_0's rmse: 1.9864
[250]	valid_0's rmse: 1.93352
[300]	valid_0's rmse: 1.8876
[350]	valid_0's rmse: 1.8521
[400]	valid_0's rmse: 1.81719
[450]	valid_0's rmse: 1.78667
[500]	valid_0's rmse: 1.7558
[550]	valid_0's rmse: 1.72711
[600]	valid_0's rmse: 1.70381
[650]	valid_0's rmse: 1.68419
[700]	valid_0's rmse: 1.66171
[750]	valid_0's rmse: 1.64166
[800]	valid_0's rmse: 1.62288
[850]	valid_0's rmse: 1.5971
[900]	valid_0's rmse: 1.57522
[950]	valid_0's rmse: 1.55712
[1000]	valid_0's rmse: 1.54156
[1050]	valid_0's rmse: 1.52477
[1100]	valid_0's rmse: 1.50584
[1150]	valid_0's rmse: 1.4914
[1200]	valid_0's rmse: 1.48001
[1250]	valid_0's rmse: 1.46581
[1300]	valid_0's rmse: 1.45256
[1350]	valid_0's rmse: 1.44218
[1400]	valid_0's rmse: 1.43072
[1450]	valid_0's rmse: 1.41906
[1500]	valid_0's rmse: 1.40913
[1550]	valid_0's rmse: 1.4005
[1600]	valid_0's rmse: 1.39246
[1650]	valid_0's rmse: 1.38282
[1700]	valid_0's rmse: 1.37158
[1750]	valid_0's rmse: 1.35788
[1800]	valid_0's rmse: 1.34697
[1850]	valid_0's rmse: 1.33784
[1900]	valid_0's rmse: 1.32572
[1950]	valid_0's rmse: 1.31378
[2000]	valid_0's rmse: 1.29997
Did not meet early stopping. Best iteration is:
[2000]	valid_0's rmse: 1.29997
CPU times: user 3min 28s, sys: 637 ms, total: 3min 29s
Wall time: 53.8 s

## 예측

In [ ]:
# 예측 템플릿
CARD_SIDO_NMs = df_num['CARD_SIDO_NM'].unique()
STD_CLSS_NMs = df_num['STD_CLSS_NM'].unique()
HOM_SIDO_NMs = df_num['HOM_SIDO_NM'].unique()
AGEs = df_num['AGE'].unique()
SEX_CTGO_CDs = df_num['SEX_CTGO_CD'].unique()
FLCs = df_num['FLC'].unique()
# CANCELs = df_num['CANCEL'].unique() # 추가
years = [2020]
months = [4, 7]

temp = []
for CARD_SIDO_NM in CARD_SIDO_NMs:
    for STD_CLSS_NM in STD_CLSS_NMs:
        for HOM_SIDO_NM in HOM_SIDO_NMs:
            for AGE in AGEs:
                for SEX_CTGO_CD in SEX_CTGO_CDs:
                    for FLC in FLCs:
                        # for CANCEL in CANCELs: # 추가
                            for year in years:
                                for month in months:
                                    temp.append([CARD_SIDO_NM, STD_CLSS_NM, HOM_SIDO_NM, AGE, SEX_CTGO_CD, FLC, year, month])

temp = np.array(temp)
temp = pd.DataFrame(data=temp, columns=['CARD_SIDO_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'year', 'month'])
display(temp)

         CARD_SIDO_NM  STD_CLSS_NM  HOM_SIDO_NM  ...  FLC  year  month
0                   0            0            0  ...    1  2020      4
1                   0            0            0  ...    1  2020      7
2                   0            0            0  ...    2  2020      4
3                   0            0            0  ...    2  2020      7
4                   0            0            0  ...    3  2020      4
...               ...          ...          ...  ...  ...   ...    ...
1658855            16           30           14  ...    3  2020      7
1658856            16           30           14  ...    4  2020      4
1658857            16           30           14  ...    4  2020      7
1658858            16           30           14  ...    5  2020      4
1658859            16           30           14  ...    5  2020      7

[1658860 rows x 8 columns]

In [ ]:
# 예측: 8개 컬럼으로 예측은 한다.
%%time
pred = model.predict(temp)
pred = np.expm1(pred)
temp['AMT'] = np.round(pred, 0)
temp['REG_YYMM'] = temp['year']*100 + temp['month']
temp_df = temp[['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'AMT']]
temp_df = temp_df.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM']).sum().reset_index(drop=False)

CPU times: user 25min 30s, sys: 460 ms, total: 25min 30s
Wall time: 6min 27s

In [ ]:
# 범주형 변수 디코딩
temp_df['CARD_SIDO_NM'] = encoders['CARD_SIDO_NM'].inverse_transform(temp_df['CARD_SIDO_NM'])
temp_df['STD_CLSS_NM'] = encoders['STD_CLSS_NM'].inverse_transform(temp_df['STD_CLSS_NM'])
display(temp_df)

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
0       202004           강원             건강보조식품 소매업  1.907080e+08
1       202004           강원                골프장 운영업  4.018921e+09
2       202004           강원            과실 및 채소 소매업  1.295784e+09
3       202004           강원      관광 민예품 및 선물용품 소매업  3.059702e+07
4       202004           강원   그외 기타 분류안된 오락관련 서비스업  4.567070e+06
...        ...          ...                    ...           ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.519127e+09
1390    202007           충북                한식 음식점업  3.880425e+10
1391    202007           충북                    호텔업  3.235788e+07
1392    202007           충북          화장품 및 방향제 소매업  5.588105e+08
1393    202007           충북               휴양콘도 운영업  1.220515e+08

[1394 rows x 4 columns]

In [ ]:
# 제출 파일 순번
def return_sub_num():
    files = sorted(glob.glob(f"{submission_path}/*.csv"), key= lambda x:int(x.split('.')[0][-3:]))
    if len(files) == 0:
        return '001'
    else:
        return str(int(files[-1].split('.')[0][-3:])+1).zfill(3)

In [ ]:
num = return_sub_num()
print(num)

005

In [ ]:
# 제출파일 만들기
submission = pd.read_csv(f"{data_path}/submission.csv", index_col=0)
submission = submission.drop(columns=['AMT'], axis=1)
submission = submission.merge(temp_df, left_on=['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], right_on=['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], how='left')
submission.index.name = 'id'
display(submission)
submission.to_csv(f"{submission_path}/submission_{num}.csv", encoding='utf-8-sig')

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
id
0       202004           강원             건강보조식품 소매업  1.907080e+08
1       202004           강원                골프장 운영업  4.018921e+09
2       202004           강원            과실 및 채소 소매업  1.295784e+09
3       202004           강원      관광 민예품 및 선물용품 소매업  3.059702e+07
4       202004           강원   그외 기타 분류안된 오락관련 서비스업  4.567070e+06
...        ...          ...                    ...           ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.519127e+09
1390    202007           충북                한식 음식점업  3.880425e+10
1391    202007           충북                    호텔업  3.235788e+07
1392    202007           충북          화장품 및 방향제 소매업  5.588105e+08
1393    202007           충북               휴양콘도 운영업  1.220515e+08

[1394 rows x 4 columns]

In [ ]:
return_sub_num()

'006'

## rmlse 점수 체크

- `submission004` : 0.92xx
- `submission005` : 0.82xx

In [ ]:
# rmsle 점수
def rmsle(y_true, y_pred):
    assert len(y_true) == len(y_pred)
    return np.sqrt(np.mean(np.power(np.log1p(y_true + 1) - np.log1p(y_pred + 1), 2)))

In [ ]:
def check_rmsle(real_data):
    y_true = real_data['AMT']
    print(y_true)

    data_for_pred = real_data.drop(columns=['AMT'], axis=1)
    y_pred = np.expm1(model.predict(data_for_pred)) # 항상 모델으로 해놓을 것!
    print(y_pred)

    return rmsle(y_true, y_pred)

In [ ]:
%%time
print(check_rmsle(df_num))

0          311200
1          605000
2          139000
3           27500
4          395500
            ...
1057389    148000
1057390    329800
1057391    557800
1057392    247800
1057393    230400
Name: AMT, Length: 1057394, dtype: int64
[731686.30377294 527100.54977958 242909.90861055 ... 305857.19840793
 251332.2982599  249449.0009057 ]
0.8223272757390884
CPU times: user 16min 9s, sys: 283 ms, total: 16min 9s
Wall time: 4min 6s